/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
	background: white;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}
a{
	text-decoration: none;
	color: black;
}
.logo{
width: 30%;
margin-left: 35%;
margin-right: 35%;
margin-top: 5%;
margin-bottom: 5%;
}
.login_page{
width: 70%;
margin-left: 15%;	
margin-right: 15%;	
}
.login_page input{
text-align: center;	
}
.aviso{
font-size: 1EM;
color: red;
font-weight: bold;	
}
.profile{
text-align: justify;
background: white;
width: 80%;
margin-top: 5%;
margin-left: 10%;	
margin-right: 10%;
height: 15%;
position: fixed;
bottom: 0;
top: 8%;
}
.profile_pic{
float: left;
width: 20%;	
}
.menu{
width: 80%;
margin-left: 10%;	
margin-right: 10%;	
margin-top: 35%;
text-align: center;
}
.menu_button{
position: relative;
width: 90%;
margin-left: 5%;	
margin-right: 5%;	
margin-top: 3%;
background: #2f9e41;
border: 1px solid #2f9e41;
padding-top: 5%;
padding-bottom: 5%;
color: white;
font-weight: bold;
margin-top: 3%;
margin-bottom: 3%;
border-radius: 15px;
}
.butaum{
border-radius: 15px;
}
.alerta{
margin-top: 40%;
width: 90%;
margin-left: 5%;	
margin-right: 5%;	
background: red;
color: white;
padding: 10px;
border-radius: 15px;
}
.dados{
float: left;
width: 60%;
}
.mapaNotas{
margin-top: 40%;
width: 80%;
margin-left: 10%;	
margin-right: 10%;	
text-align: justify;
border-collapse: collapse;
}
.title{
text-align: center;
}
}
.tabelaNotas{
text-align: justify;
width: 80%;
margin-left: 10%;
margin-right: 10%;
border: none;
}
.tabelaNotas th{
padding-right: 5px;	
width: 70%;
}
.tabelaNotas td{	
text-align: right;
width: 30%;
}
.imp{
background: #2f9e41;
color: white;	
}