/*
 * Please see the included README.md file for license terms and conditions.
 */


/* This file is completely optional and not required. */
/* Note the reference that includes it in the index.html file. */


/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
	background: white;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
}
a{
	text-decoration: none;
	color: black;
}
.alerta{
width: 100%;
padding: 15%;
text-align: center;
background: #e9fce9;
font-weight: bold;
color: #000000;	
font-size: 16pt;
}
.logotipo{
	padding-top: 3%;
	padding-bottom: 4%;
	text-align: center;	
}
.login{
	padding-left: 15%;	
	padding-right: 15%;	
}
.login input{
	text-align: center;
	font-size: 12pt;	
}
.aviso{
text-align: center;
padding: 2%;
font-size: 11pt;
color: #F00;
}
.dados_aluno{
padding: 25px;
text-align: center;
background: #F8F8FF;
height: 15%;
position: fixed;
bottom: 0;
top: 8%;
}
.conteudo{
padding-left: 5%;	
padding-right: 5%;	
margin-top: 35%;
}
.padrao{
background:#2f9e41;
text-align: center;
font-weight: bold;
border-radius: 15px;
margin-top: 2%;
}
.btn-success:hover{
border-color: #FF0000;
}
.mapa_notas{
width: 100%;
padding-left: 5%;	
padding-right: 5%;	
text-align: center;
}
.disciplina {
padding: 5%;
margin: 0px;
font-size: 15pt;  
font-weight: bold;
color: black;
}
.buttons{
margin-top: 2%;
width: 100%;
}